@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 76px;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  width: 288px;
  height: 41px;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.header__search::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font: inherit;
}
.header__search::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font: inherit;
}
.header__menu-list {
  display: flex;
  gap: 32px;
}
.header__menu-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.header__menu-link:hover {
  text-decoration: underline;
}

.top {
  height: 735px;
  background-image: url(img/topback.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  width: 792px;
}
.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.top__link {
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.for {
  padding-top: 64px;
}
.for__box {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1 fr);
}
.for__item {
  height: 415px;
  grid-column: span 2;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_big {
  height: 415px;
  grid-column: span 3;
}
.for__item1 {
  background-image: url(img/product1_for.png);
}
.for__item2 {
  background-image: url(img/product2_for.png);
}
.for__item3 {
  background-image: url(img/product3_for.png);
}
.for__item4 {
  background-image: url(img/product4_for.png);
}
.for__item5 {
  background-image: url(img/product5_for.png);
}

.product {
  margin-top: 64px;
}
.product__card {
  width: 378.6666666667px;
  display: flex;
  flex-direction: column;
}
.product__content {
  margin-top: 32px;
  display: flex;
  row-gap: 48px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-wrap: wrap;
}
.product__img {
  width: 100%;
}
.product__heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}
.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 8px;
}
.product__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.product__box-price {
  display: flex;
  gap: 30px;
  padding-bottom: 8px;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__price_oldprice {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.link-box {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-top: 32px;
  margin-bottom: 64px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(247, 246, 246);
  padding-top: 32px;
  padding-bottom: 60px;
}
.footer__nav-content {
  display: flex;
  flex-wrap: wrap;
  gap: 129px;
}
.footer__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}
.footer__social-list {
  padding-top: 2px;
  display: flex;
  gap: 20px;
}
.footer__social-item:hover {
  filter: brightness(0);
}
.footer__subscription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__subscription-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
}
.footer__subscription-input {
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}
.footer__subscription-input::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  font: inherit;
}
.footer__subscription-input::placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  font: inherit;
}
.footer__subscription-button {
  background: rgba(222, 215, 215, 0.4117647059);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font: inherit;
}
.footer__subscription-button:hover {
  background: rgb(0, 0, 0);
  color: #FFFFFF;
}

/* для каталога */
.top-catalog {
  height: 400px;
  background-image: url(img/topcatalog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-catalog__title {
  margin-top: 127px;
}

.menu-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}
.menu-catalog__nav {
  display: flex;
}
.menu-catalog__nav :first-child ::after {
  content: "/";
  padding-left: 10px;
  padding-right: 10px;
}
.menu-catalog__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.filter {
  display: flex;
  gap: 10px;
}
.filter__button {
  background-color: #fff;
  background-image: url(img/Polygon.svg);
  background-repeat: no-repeat;
  background-position: center right 22px;
  width: 182px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.filter__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(img/Polygon.svg);
  background-repeat: no-repeat;
  background-position: center right 22px;
  width: 227px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 22px;
}

.top-cart {
  height: 400px;
  background-image: url(img/topcart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cart {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 64px;
}
.cart__choice {
  grid-column: 1/8;
}
.cart__columns {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 14px;
}
.cart__column-name {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.cart__product {
  display: flex;
  flex-direction: row;
  gap: 32px;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 32px;
  padding-bottom: 32px;
}
.cart__product:first-child {
  padding-top: 25px;
}
.cart__product-img {
  width: 173px;
}
.cart__product-info {
  display: flex;
}
.cart__product-name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.cart__product-text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 14px;
  padding-bottom: 16px;
  max-width: 276px;
}
.cart__product-input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  background: rgb(247, 246, 246);
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 210%;
  padding-left: 21px;
}
.cart__product-price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.cart__link-box {
  padding-top: 15px;
}
.cart__product-link {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  text-decoration: underline;
  padding-right: 30px;
}
.cart__button-box {
  margin-top: 50px;
}
.cart__button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 200px;
  height: 37px;
  margin-right: 8px;
}
.cart__form {
  grid-column: 8/12;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-left: 27px;
  padding-right: 64px;
  padding-bottom: 148px;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
}
.cart__form-heading {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.cart__form-input {
  border: 0;
  border-bottom: 1px solid rgb(202, 205, 216);
  background: transparent;
  padding-top: 62px;
}
.cart__form-input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__form-input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.cart__form-text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding-top: 64px;
}
.cart__form-button {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  height: 41px;
  margin-top: 18px;
}/*# sourceMappingURL=style.css.map */