@import "vars";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 76px;
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__search {
        width: 288px;
        height: 41px;
        border: 1px solid $color-text;
        outline: none;
        border-radius: 20px;
        background-color: transparent;
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;

        &::placeholder {
            color: $color-text;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            font: inherit;
        }
    }

    &__menu-list {
        display: flex;
        gap: 32px;
    }

    &__menu-link {
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.top {
    height: 735px;
    background-image: url(img/topback.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        margin-top: 64px;
        margin-bottom: 16px;
        color: $color-text;
        width: 792px;
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        font-weight: 400;
        color: $color-text;
    }

    &__link {
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        font-weight: 400;
    }
}

.for {
    padding-top: 64px;

    &__box {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1 fr);
    }

    &__item {
        height: 415px;
        grid-column: span 2;

        color: $color-text;
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__item_big {
        height: 415px;
        grid-column: span 3;
    }

    &__item1 {
        background-image: url(img/product1_for.png);
    }

    &__item2 {
        background-image: url(img/product2_for.png);
    }

    &__item3 {
        background-image: url(img/product3_for.png);
    }

    &__item4 {
        background-image: url(img/product4_for.png);
    }

    &__item5 {
        background-image: url(img/product5_for.png);
    }
}

.product {
    margin-top: 64px;

    &__card {
        width: ($site-width - $gap * 2) / 3;
        display: flex;
        flex-direction: column;
    }

    &__content {
        margin-top: 32px;
        display: flex;
        row-gap: 48px;
        column-gap: 32px;
        flex-wrap: wrap;
    }

    &__img {
        width: 100%;
    }

    &__heading {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000000;
        margin-bottom: 32px;
    }

    &__name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #888888;
        margin-bottom: 12px;
    }

    &__box-price {
        display: flex;
        gap: 30px;
        padding-bottom: 8px;
    }

    &__price {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }

    &__price_oldprice {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888888;
    }
}

.link-box {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    margin-top: 32px;
    margin-bottom: 64px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(247, 246, 246);
    padding-top: 32px;
    padding-bottom: 60px;

    &__nav-content {
        display: flex;
        flex-wrap: wrap;
        gap: 129px;
    }

    &__heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 12px;
    }


    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
        display: block;
        margin-bottom: 12px;
    }

    &__social-list {
        padding-top: 2px;
        display: flex;
        gap: 20px;
    }

    &__social-item:hover {
        filter: brightness(0);
    }

    &__subscription {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__subscription-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        color: #000000;
    }

    &__subscription-input {
        width: 260px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 16px;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;

        &::placeholder {
            color: rgb(196, 196, 196);
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            padding-left: 17px;
            padding-top: 12px;
            padding-bottom: 12px;
            font: inherit;
        }
    }

    &__subscription-button {
        background: #ded7d769;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 16px;
        width: 260px;
        height: 40px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        font: inherit;

        &:hover {
            background: rgb(0, 0, 0);
            color: #FFFFFF;
        }
    }


}

/* для каталога */

@import 'catalog';

// для корзины

@import 'cart';